/Counter/Pipfile/
/Counter/Pipfile.lock/

/DojoSurvey/Pipfile/
/DojoSurvey/Pipfile.lock/

/HTMLtable/Pipfile/
/HTMLtable/Pipfile.lock/

/LoginAndRegistration/loginregistration_erd.mwb/
/LoginAndRegistration/loginregistration.zip.zip/
/LoginAndRegistration/Pipfile/
/LoginAndRegistration/Pipfile.lock/

/Recipes/Pipfile/
/Recipes/Pipfile.lock/
/Recipes/recipes.zip.zip/
/Recipes/recipes_db.mwb/

/UsersCrudModularized/Pipfile/
/UsersCrudModularized/Pipfile.lock/

/dojos and ninjas sql assignment.mwb
/dojos and ninjas sql assignment.mwb.bak