<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justifiy-content-center">
        <div>
            <h1 class="d-flex justify-content-center p-5">These are all the users!:</h1>
            <table class="w-60 p-5 table table-dark table-striped">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="/edit/user/{{ user.id }}" class="btn btn-warning">Edit User</a>
                            <a href="/delete/user/{{ user.id }}" class="btn btn-warning">Delete User</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <a href="/new/user" class="btn btn-primary">Create User</a>
        </div>
    </div>
</body>
</html>