<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form action="/process" method="POST" class="bg-secondary col-4 p-4 mx-auto">
        <h1 class="text-center"> Dojo Survey </h1>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="location"> Location: </label>
            <select name="location" class="form-control">
                <option value=""> --- Select-A-City --- </option>
                <option value="NY"> New York City, NY </option>
                <option value="GA"> Atlanta, GA </option>
                <option value="TX"> Austin, TX </option>
                <option value="CA"> San Jose, CA </option>
                <option value="NC"> Chicago, IL </option>
                <option value="WA"> Seattle, WA </option>
            </select>
        </div>
        <div class="form-group">
            <label for="language"> Language: </label>
            <select name="language" class="form-control">
                <option value=""> --- Select-A-Language --- </option>
                <option value="Python"> Python </option>
                <option value="MERN"> MERN </option>
                <option value="JAVA"> Java </option>
                <option value="cpp"> C++ </option>
                <option value="JavaScript"> JavaScript </option>
            </select>
        </div>
        <div class="form-group">
            <label for="comment"> Comments: </label>
            <textarea name="comment" cols="30" rows="3" class="form-control"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-success btn-lg">
    </form>
</body>
</html>